@media (max-width: 992px) {
    #account-menu-container {
        position: absolute;
        right: 70px;
    }
}

#account-menu-container .dropdown-item {
    color: #1c2540;
    font-weight: 400;
}

#account-menu-container .dropdown-item:hover {
    background-color: rgba(36, 46, 76, .1);
}

.filter-invert {
    filter: invert(1);
}

.horizontal-flip {
    transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

.img-shadow {
    box-shadow: 8px 8px 24px 0 #a3a3a3;
    -o-box-shadow: 8px 8px 24px 0 #a3a3a3;
    -moz-box-shadow: 8px 8px 24px 0 #a3a3a3;
    -webkit-box-shadow: 8px 8px 24px 0 #a3a3a3;
}

.border-radius-10 {
    border-radius: 10px;
}

@media (max-width: 768px) {
    #pet-flex-container {
        flex-direction: column-reverse;
    }
}

#logo-footer {
    height: 25px;
}

#signature {
    width: 150px;
}

.alert-text-ml-n {
    margin-left: -0.75rem;
}

textarea, input, select {
    box-shadow: none !important;
}

.form-control:focus,
.form-control:active {
    border-color: #e6e7e8 !important;
}

a,
label,
.form-control,
.input-group,
.input-group-text,
[class*=shadow] {
    transition: none !important;
}

@media (max-width: 768px) {
    #pet-search-section {
        margin-top: -12.5rem !important;;
    }
}

@media (max-width: 576px) {
    #pet-search-section {
        margin-top: -9.5rem !important;
    }
}

.page-link:focus,
.btn:focus {
    box-shadow: none !important;
}
