{% extends "base.html" %}
{% block title %}
    Edit Shelter | {{ block.super }}
{% endblock title %}
{% block content %}
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="my-5 w-100 fmxw-500">
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <h1 class="mb-0 h3">Shelter Details</h1>
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            {% for form in forms %}
                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        <div class="input-group mb-4">
                                            {{ field }}
                                        </div>
                                        {{ field.errors }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            <button type="submit" class="btn btn-block btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
