{% extends 'base.html' %}
{% block title %}
    For Shelters | {{ block.super }}
{% endblock title %}
{% block content %}
    <div class="section section-xl bg-primary overflow-hidden">
        <div class="container z-2">
            <div class="row pb-4 pb-md-6 pb-1 justify-content-center text-white text-center">
                <div class="col-12 col-md-10">
                    <div class="mb-3">
                        <h1 class="display-3 font-size-md-down-5 font-weight-light mb-0">
                            Some
                            <span class="font-weight-bold">reasons</span>
                            to use
                            <span class="font-weight-bold">Fido</span>
                        </h1>
                    </div>
                    <p class="my-4 px-0 px-lg-7 lead">(in no particular order)</p>
                </div>
            </div>
        </div>
    </div>
    <section class="section section-md pt-0">
        <div class="container">
            <div class="col-12 col-lg-12">
                <div class="row justify-content-center mt-n7 z-2">
                    <div class="col-12 col-md-6">
                        <div class="row mt-5 mt-lg-0 mr-md-1">
                            <div class="card border-light">
                                <div class="card-body p-5">
                                    <h2 class="h4 mb-2">Huge traffic</h2>
                                    <p>
                                        With more than two hundred thousand visitors every month, we are the busiest
                                        website of our kind. The average user spends 7 minutes on our website and views
                                        12 pet profiles.
                                    </p>
                                </div>
                            </div>
                            <div class="card border-light mt-3">
                                <div class="card-body p-5">
                                    <h2 class="h4 mb-2">Search Engine Optimization</h2>
                                    <p>
                                        The site had been designed to rank high on search engines such as Google.
                                        We are using only legitimate SEO practices.
                                    </p>
                                </div>
                            </div>
                            <div class="card border-light mt-3">
                                <div class="card-body p-5">
                                    <h2 class="h4 mb-2">Price tag</h2>
                                    <p>
                                        Running a website can get expensive. With Fido, you don't have to worry about
                                        the cost. It's free and always will be.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mt-md-5">
                        <div class="row mt-3 mt-lg-0 mr-1">
                            <div class="card border-light">
                                <div class="card-body p-5">
                                    <h2 class="h4 mb-2">Responsive Web Design</h2>
                                    <p>
                                        Each page had been designed to look good on all screens, from the smallest to
                                        the largest. It matters because more than half of the traffic comes from mobile
                                        devices.
                                    </p>
                                </div>
                            </div>
                            <div class="card border-light mt-3">
                                <div class="card-body p-5">
                                    <h2 class="h4 mb-2">Ease of use</h2>
                                    <p>
                                        All activities related to the operation of the shelter on our website can be
                                        done in a fully intuitive way.
                                    </p>
                                </div>
                            </div>
                            <div class="card border-light mt-3">
                                <div class="card-body p-5">
                                    <h2 class="h4 mb-2">Friendly support</h2>
                                    <p>
                                        We are not available 24/7, but we always do our best to answer all your
                                        questions related to this website.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center mb-6">
        <span>Wanna know more?</span>
        <a href="{% url 'fido:contact' %}" class="font-weight-bold">Contact us!</a>
    </section>
{% endblock content %}
