{% extends "base.html" %}
{% block title %}
    {{ title }} | {{ block.super }}
{% endblock title %}
{% block content %}
    <section class="section section-header pb-8 bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-8 text-center">
                    <h1 class="display-2">{{ headline }}</h1>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-n7 mb-6">
            <div class="row justify-content-center">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="mt-lg-0 bg-white border rounded border-light p-4 p-lg-5 w-100 fmxw-750">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for form in forms %}
                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        <div class="input-group mb-4">
                                            {{ field }}
                                        </div>
                                        {{ field.errors }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            <button type="submit" class="btn btn-block btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
